@import "tailwindcss";

@theme {
  /* Fargar */
  --color-sparkle: #C5A059; 
  --color-sparkle-shadow: #8E6F3E;
  --color-deep-gray: #0F0F0F;
  --color-warm-gray: #F7F7F7;

  /* Typografi */
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
  
  h1, h2, h3 {
    @apply font-serif leading-tight;
  }
}