---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Quote from '../components/Quote.astro';
---

<Layout title="Steinar Thelen | Forside">
  <section class="h-screen flex items-center justify-center bg-hero-image bg-cover">
     <h1 class="text-white text-6xl">Gjer neste event magisk!</h1>
  </section>
  <section>
	<Quote text="En fantastisk tryllekunstner!" />

  <Quote 
    text="Vi hadde Steinar på standen vår på Markedsføringsdagen i Haugesund. Utrolig proff, flink og sympatisk! Anbefales på det varmeste" 
    author="Header AS"
  />
  </section>
</Layout>