---
// src/pages/index.astro
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Quote from "../components/Quote.astro";
import Hero from "../components/Hero.astro";
import CTA from "../components/CTA.astro";

// Importar alle bilete som skal brukast
import heroImage from "../assets/images/high-five.jpg";
import actionImage from "../assets/images/DMCfest261023-93.jpg";
---

<Layout title="Steinar Thelen | Magisk Underholdning for spesielle anledninger">
  <Hero
    title="Gjør neste event magisk"
    imagePath={heroImage}
  />

  <Quote
    text="En fantastisk tryllekunstner som virkelig mestrer kunsten å bergta sitt publikum."
  />

  <section class="max-w-7xl mx-auto py-32 px-8 grid md:grid-cols-2 gap-20 items-center">
    <div class="space-y-6">
      <h2 class="text-4xl md:text-6xl">Førsteklasses magi</h2>
      <p class="text-lg text-deep-gray/70 leading-relaxed">
        Steinar leverer ikke bare triks, men en komplett opplevelse. Med fokus
        på eleganse og humor passer dette perfekt for bedrifter som ønsker det
        lille ekstra.
      </p>
    </div>
    <div class="relative group">
      <Image
        src={actionImage}
        alt="Steinar Thelen i aksjon framfor publikum"
        class="rounded-lg shadow-2xl grayscale hover:grayscale-0 transition-all duration-700 object-cover"
      />
      <div class="absolute -bottom-6 -left-6 w-32 h-32 border-l border-b border-sparkle -z-10">
      </div>
    </div>
  </section>

  <Quote
    text="Utrolig proff, flink og sympatisk! Anbefales på det varmeste."
    author="Header AS"
  />
  <CTA 
  title="Klar for en uforglemmelig opplevelse?"
  description="Steinar Thelen er tilgjengelig for oppdrag i hele landet. Book tidlig for å sikre din dato."
  kind="dark"
  buttonText="Sjekk tilgjengelighet"
/>
</Layout>